<!DOCTYPE html>
<html>
<head>
  <title>Glottal</title>
  <%= stylesheet_link_tag    'application', :media => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300|Julius+Sans+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fascinate|Source+Sans+Pro|Dosis|Abel|Noto+Sans|Droid+Sans|Arvo|Cabin|New+Rocker|Lora|PT+Sans|PT+Sans+Narrow|Arimo|Oleo+Script|Ubuntu|Montserrat+Alternates|Bitter|PT+Serif|Lobster|Shadows+Into+Light|Rokkitt|Libre+Baskerville|Ubuntu+Condensed|Droid+Serif|Open+Sans|Roboto|Oswald|Open+Sans+Condensed:300|Roboto+Condensed|Montserrat|Raleway|Yanone+Kaffeesatz|Oxygen|Merriweather|Varela+Round|Francois+One|Roboto+Slab|Titillium+Web|Play|Nunito|Fjalla+One|Inconsolata|Indie+Flower|Pacifico|Hammersmith+One|Righteous|Black+Ops+One|Audiowide|Luckiest+Guy|Lobster+Two|Comfortaa|Orbitron|Carme|Allerta+Stencil|Keania+One|Alike|Rye|Sancreek|Megrim|Fruktur' rel='stylesheet' type='text/css'>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
